* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    place-content: center;
    /* grid-auto-flow: dense; */
    gap: 5px;
    padding: 60px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.item{
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid purple;
    background-color: rgb(138, 138, 240);
}